<video id="video_in_background" video autobuffer autoplay="true" loop="true">
  <source id="webm" src="../../assets/videos/LVR1.webm" type="video/webm">
</video>

<div class='container-fluid'>
  <div class="card-columns">

    <div class="card p-3">
      <div class='card-header h1'>
        <h5>
          <strong>Mo</strong>nitor <strong>Li</strong>ceal
        </h5>
        <div class='luces'>
            <div class='x'></div>
            <div class='x'></div>
            <div class='x'></div>
        </div>
      </div>
      <div class="card-body b1">
        <p class='card-text'>Laboratorio de Informática</p>
        <p class='card-text'>Liceo de Ciudad Rodriguez</p>
      </div>
    </div>

    <div class="card p-3">
      <div class='card-header h2'>
        <h5>Liceo Maestra Haydeé Bellini Brillada</h5>
      </div>
      <div class="card-body b2">
        <p class='card-text'><i class="fa fa-phone-square"></i> 4444 5555</p>
        <p class='card-text'><i class="fa fa-phone-square"></i> 4444 5555</p>
        <p class='card-text'><i class="fa fa-at"></i> correo@gmail.com</p>
        <p class='card-text'>Calle y Nº</p>
        <p class='card-text'>Ciudad de Rodriguez</p>
        <p class='card-text'>Departamento de San José</p>
      </div>
    </div>





    <div class="card p-3">
      <div class='card-header h3'>
        <h5>Lorem ipsum dolor</h5>
      </div>
      <div class="card-body b3">
        <p class='card-text'>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Veritatis architecto cumque natus voluptate in ullam impedit accusantium laboriosam ex facilis facere porro consectetur modi consequatur iusto at, molestias ducimus qui?
        </p>
        <p class='card-text'>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Veritatis architecto cumque natus voluptate in ullam impedit accusantium laboriosam ex facilis facere porro consectetur.
        </p>
      </div>
    </div>

    <div class="card p-3">
      <div class='card-header'>
        <h5>
          <strong>Mo</strong>nitor <strong>Li</strong>ceal
        </h5>
        <div class='luces'>
            <div class='x'></div>
            <div class='x'></div>
            <div class='x'></div>
        </div>
      </div>
      <div class="card-body">
        <p class='card-text'>Laboratorio de Informática</p>
        <p class='card-text'>Liceo de Ciudad Rodriguez</p>
      </div>
    </div>

    <div class="card p-3">
      <div class='card-header h4'>
        <h5>Lorem ipsum</h5>
      </div>
      <div class="card-body b4">
        <p class='card-text'>Lorem ipsum dolor sit amet consectetur adipisicing elit. At ipsa esse in voluptate veritatis, itaque maiores dicta dolorum quasi possimus laudantium dolorem, accusantium ullam assumenda harum earum numquam libero aliquid.</p>
      </div>
    </div>

  </div>
</div>

<!--
<div class="container-fluid">
  <div class="row">
    <div class='col-md-4 moli-panel'>
      <h5> <strong>Mo</strong>nitor <strong>Li</strong>ceal </h5>
      <p>Laboratorio de Informática</p>
      <p>Liceo de Ciudad Rodriguez</p>
    </div>
  </div>

  <div class='row navbar navbar-inverse bg-inverse' style='color: white'>{{ info_print | json }}</div>

</div>
-->
