<video id="video_in_background" video autobuffer autoplay="true" loop="true">
  <source id="webm" src="../../assets/videos/LVR1.webm" type="video/webm">
</video>

<div class="container-fluid">
  <div class="row">
    <div class='col-md-4 moli-panel'>
      <h5> <strong>Mo</strong>nitor <strong>Li</strong>ceal </h5>
      <p>Laboratorio de Informática</p>
      <p>Liceo de Ciudad Rodriguez</p>
    </div>
  </div>

  <div class='col-md-4 moli-panel'>
    <h5> userLogged: </h5>
    <pre>{{ user | json }}</pre>
  </div>

</div>
