#navbar {
  display: -webkit-flex !important;
  display: flex !important;
  -webkit-flex-direction: row !important;
  flex-direction: row !important;
}

a, button, .navbar-brand {
  cursor: pointer;
}

.navbar-brand:hover {
  color: cyan;
}

#footer {
  text-align: center;
}
