#navbar {
  display: -webkit-flex !important;
  display: flex !important;
  -webkit-flex-direction: row !important;
  flex-direction: row !important;
}

button {
  cursor: pointer;
}

#footer {
  text-align: center;
}
