
.btn-google{
  background: #dd4b39;
}

.btn-facebook{
  background: #3b5998;
}

.btn-twitter{
  background: #55acee;
}

button{
  color: #fff;
  padding: 5px;
  padding-left: 15px;
  padding-right: 15px;
  margin: 5px;
  text-align: left;
  cursor: pointer;
}

.card {
  display: inline-block;
  box-shadow: 0.2em 0.2em 0.2em rgba(0, 0, 0, 0.8);
  background-color: transparent;
  border: 0.08em solid black;
}

.card-header {
  background-color: rgba(0, 0, 0, 0.8);
  color: white;
}

.card-body {
  padding: 10px;
  display: -webkit-flex !important;
  display: flex !important;
  -webkit-flex-direction: column !important;
  flex-direction: column !important;
  background-color: rgba(255, 255, 255, 0.5);
}
