<div class="container-fluid">
  <!-- SELECCION DE LICEO -->
  <div class='row'>
  <fieldset id='selectorliceal'>
  <div class='controles'>
  <div class="input-group">
    <select class="custom-select" id="inputGroupSelect03">
      <option selected>Selecciona un Liceo</option>
      <option value="1">Villa Rodriguez</option>
      <option value="2">Liceo Nº 3</option>
    </select>
  </div>
  <button type="button" class="btn btn-success withImageAndIcon"
    data-toggle="tooltip" data-placement="top" title="Configurar un nuevo Liceo">
    <i class="fa fa-plus-square" aria-hidden="true"></i>
  </button>
  <button type="button" class="btn btn-danger withImageAndIcon"
    data-toggle="tooltip" data-placement="top" title="Borrar el Liceo seleccionado">
    <i class="fa fa-minus-circle" aria-hidden="true"></i>
  </button>
  </div>
  </fieldset>
</div>

<!-- FORMULARIO -->
<form class='row' novalidate [formGroup]="liceoForm" (ngSubmit)="save()">
  <!-- IDENTIDAD -->
  <div class="card p-3">
    <div class='card-header'><h5>Identidad</h5></div>
    <div class="card-body">
      <fieldset class='form-group'>
      <input class='form-control' type='text'
        placeholder='Nombre' [(ngModel)]='liceo.nombre' formControlName='nombre'>
      <input class='form-control' type='text'
        placeholder='Dirección' [(ngModel)]='liceo.direccion' formControlName='direccion'>
      <input class='form-control' type='text'
        placeholder='Localidad' [(ngModel)]='liceo.localidad' formControlName='localidad'>
      <input class='form-control' type='text'
        placeholder='Departamento' [(ngModel)]='liceo.departamento' formControlName='departamento'>
      <p class='card-text'>Telefonos</p>
      <p class='card-text'>Cuentas de correos y redes sociales</p>
      <p class='card-text'>Sitios webs, picasa y youtube</p>
    </fieldset>
    </div>
  </div>

  <!-- HORARIOS -->
  <div class="card p-3">
    <div class='card-header'><h5>Horarios</h5></div>
    <div class="card-body">
      <div class='horizontal'>
    <fieldset class='form-group'>
      <legend>Turno 1
        <span class="pull-right" (click)="deleteHora(1)"
          data-toggle="tooltip" title="Quitar Última Hora">
          <i class="fa fa-minus-circle" aria-hidden="true"></i>
        </span>
        <span class="pull-right" (click)="addHora(1)"
          data-toggle="tooltip" title="Agregar Hora">
          <i class="fa fa-plus-square" aria-hidden="true"></i>
        </span>
      </legend>
      <div class='alert alert-warning' *ngIf='liceo.turno1.length==0'>
        Agrega horas de clase en este turno.
      </div>
      <app-turno [registros]='liceo.turno1' *ngIf='liceo.turno1.length>0'></app-turno>
    </fieldset>
    <fieldset class='form-group'>
      <legend>Turno 2
        <span class="pull-right" (click)="deleteHora(2)"
          data-toggle="tooltip" title="Quitar Última Hora">
          <i class="fa fa-minus-circle" aria-hidden="true"></i>
        </span>
        <span class="pull-right" (click)="addHora(2)"
          data-toggle="tooltip" title="Agregar Hora">
          <i class="fa fa-plus-square" aria-hidden="true"></i>
        </span>
      </legend>
      <div class='alert alert-warning' *ngIf='liceo.turno2.length==0'>
        Agrega horas de clase en este turno.
      </div>
      <app-turno [registros]='liceo.turno2' *ngIf='liceo.turno2.length>0'></app-turno>
    </fieldset>
    <fieldset class='form-group'>
      <legend>Turno 3
        <span class="pull-right" (click)="deleteHora(3)"
          data-toggle="tooltip" title="Quitar Última Hora">
          <i class="fa fa-minus-circle" aria-hidden="true"></i>
        </span>
        <span class="pull-right" (click)="addHora(3)"
          data-toggle="tooltip" title="Agregar Hora">
          <i class="fa fa-plus-square" aria-hidden="true"></i>
        </span>
      </legend>
      <div class='alert alert-warning' *ngIf='liceo.turno3.length==0'>
        Agrega horas de clase en este turno.
      </div>
      <app-turno [registros]='liceo.turno3' *ngIf='liceo.turno3.length>0'></app-turno>
    </fieldset>
      </div>
    </div>
  </div>

  <!-- GRUPOS -->
  <!--
  <div class="card p-3">
    <div class='card-header'>
      <h5>Grupos</h5>
    </div>
    <div class="card-body">
        <pre> {{ grupos | json }} </pre>
    </div>
  </div>
  -->

</form>

<div class='row'>
  <div class="card p-3">
    <div class='card-header'>
      <h5>Liceo:</h5>
    </div>
    <div class="card-body">
      <pre>{{ liceo | json }}</pre>
    </div>
  </div>

  <div class="card p-3">
    <div class='card-header'>
      <h5>Formulario:</h5>
    </div>
    <div class="card-body">
      <pre>{{ liceoForm.value | json }}</pre>
    </div>
  </div>
</div>
</div>
