.container-fluid {
  background-color: rgba(141, 110, 99, 0.3);
  padding: 5px;
  margin: 0;
}
.row {
  margin: 0;
  padding: 5px;
}

/* Seleccionar liceo, crear, eliminar */
.input-group {
  margin: auto;
  padding: 5px;
}
fieldset {
  padding: 5px;
  margin: 5px;
  border: 0.05em gray solid;
  border-radius: 5px;
}
.controles {
  display: -webkit-flex !important;
  display: flex !important;
  -webkit-flex-direction: row !important;
  flex-direction: row !important;
  background-color: white;
}
button {
  margin: 5px;
}

/* Formulario */
form {
  display: -webkit-flex !important;
  display: flex !important;
  -webkit-flex-direction: row !important;
  flex-direction: row !important;
}

.card {
  margin: 5px;
  /* background-color: rgba(255, 255, 255, 0.7);*/
  background-color: transparent;
  padding: 0 !important;
  border: none;
  display: inline-block;
}
.card-header {
  background-color: rgba(46, 125, 50, 0.5);
}
.card-body {
  padding: 5px !important;
  background-color: rgba(46, 125, 50, 0.3);
}
.card:hover {
  background-color: rgba(255, 255, 255, 1.0);
}

input {
  margin: 3%;
  margin-left: 5%;
  margin-right: 5%;
  max-width: 90%;
}

/* Horarios */
.horizontal {
  display: -webkit-flex !important;
  display: flex !important;
  -webkit-flex-direction: row !important;
  flex-direction: row !important;
}
legend {
  font-size: 1.0em;
}
.tablabuttons {
  text-align: right;
}
