.container-fluid {
  background-color: rgba(141, 110, 99, 0.3);
  padding: 5px;
  margin: 0;
}

.row {
  margin: 0;
  padding: 5px;
  border: 0.05em gray solid;
}

/* Seleccionar liceo, crear, eliminar */
.input-group {
  margin: auto;
  padding: 5px;
}
fieldset {
  padding: 5px;
  margin: 5px;
  border: 0.05em gray solid;
  border-radius: 5px;
  width: 255px;
}
.controles {
  display: -webkit-flex !important;
  display: flex !important;
  -webkit-flex-direction: row !important;
  flex-direction: row !important;
}

/* Formulario */
form {
  /*
  display: -webkit-flex !important;
  display: flex !important;
  -webkit-flex-direction: row !important;
  flex-direction: row !important;
  */
  /*
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-flex-wrap: wrap;
  flex-wrap: wrap;
  */
}

.card {
  width: 100%;
  margin: 5px;
  background-color: transparent;
  padding: 0 !important;
  border: none;
}
.card-header {
  background-color: rgba(46, 125, 50, 0.5);
}
.card-body {
  display: -webkit-flex !important;
  display: flex !important;
  -webkit-flex-direction: row !important;
  flex-direction: row !important;
  padding: 5px !important;
  background-color: rgba(46, 125, 50, 0.3);
  -webkit-flex-wrap: wrap;
  flex-wrap: wrap;
}
.card-body:hover {
  background-color: rgba(46, 125, 50, 0.2);
}

input {
  margin: 0;
}

legend {
  font-size: 1.0em;
  padding-left: 5px;
}
.pull-right {
  margin: 3px;
}
.fa {
  cursor: pointer;
  font-size: 1.5em;
}
.fa-plus-square {
  color: green;
}
.fa-minus-circle {
  color: red;
}

.form-group { /* fieldset de horarios */
  min-height: 400px;
}

.fa-phone-square, .fa-home, .fa-user {
  color: green;
  cursor: auto;
}

.no-form-group {
  min-height: 0;
}

.custom-select {
  margin: 0;
  flex-grow: 1;
}

.iconinputcontainer {
  margin: 0; margin-bottom: 3px; padding: 0;
  display: -webkit-flex !important;
  display: flex !important;
  -webkit-flex-direction: row !important;
  flex-direction: row !important; background-color: white;
  border: 0.1em red; border-radius: 5px;
}

.iconinputcontainer > span {
  margin: 0; padding: 3px;
}

button {
  margin: 5px;
}
