
<div class="container-fluid">
  <div class='row'>

  <fieldset>
  <div class='controles'>

    <div class="dropdown">
    <button class="btn btn-primary dropdown-toggle"
      type="button" id="dropdownMenuButton" data-toggle="dropdown"
      aria-haspopup="true" aria-expanded="false">
      Seleccionar Liceo
    </button>
    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
      <a class="dropdown-item">Villa Rodriguez</a>
      <a class="dropdown-item">Liceo Nº 3</a>
    </div>
  </div>

  <button type="button" class="btn btn-success withImageAndIcon">
    <i class="fa fa-plus-square"></i>
  </button>

  <button type="button" class="btn btn-danger withImageAndIcon">
    <i class="fa fa-minus-circle"></i>
  </button>

</div>
</fieldset>
</div>

<div class='row'>
<form action="">

  <div class="card p-3">
    <div class='card-header h2'>
      <h5>Identidad</h5>
    </div>
    <div class="card-body b2">
      <input class='form-control' type='text'
        placeholder='Nombre'>
      <input class='form-control' type='text'
        placeholder='Dirección'>
      <input class='form-control' type='text'
        placeholder='Localidad'>
      <input class='form-control' type='text'
        placeholder='Departamento'>

      <p class='card-text'>Telefonos</p>
      <p class='card-text'>Cuentas de correos y redes sociales</p>
      <p class='card-text'>Sitios webs, picasa y youtube</p>
    </div>
  </div>

  <div class="card p-3">
    <div class='card-header h2'>
      <h5>Horarios</h5>
    </div>
    <div class="card-body b2">
      <h6>Turno 1</h6>
      <h6>Turno 2</h6>
      <h6>Turno 3</h6>
    </div>
  </div>

  <div class="card p-3">
    <div class='card-header h2'>
      <h5>Grupos</h5>
    </div>
    <div class="card-body b2">

    </div>
  </div>

</form>
</div>
</div>
