<div class="container-fluid">
  <!-- SELECCION DE LICEO -->
  <div class='row'>
  <fieldset>
  <div class='controles'>
    <div class="input-group">
      <select class="custom-select" (change)="changedLiceo($event)">
        <option *ngFor='let lic of misliceos; index as id;' value={{id}}>{{lic}}</option>
      </select>
    </div>
    <span class="pull-right" (click)="addLiceo()"
      data-toggle="tooltip" title="Crear nuevo Liceo">
      <i class="fa fa-plus-square" aria-hidden="true"></i>
    </span>
    <span class="pull-right" *ngIf='misliceos.length>0' (click)="deleteLiceo()"
      data-toggle="tooltip" title="Borrar Liceo seleccionado">
      <i class="fa fa-minus-circle" aria-hidden="true"></i>
    </span>
  </div>
  </fieldset>
</div>




<!-- FORMULARIO -->
<form novalidate [formGroup]="liceoForm" (ngSubmit)="save()">
  <!-- IDENTIDAD -->
  <div class='row'>
  <div class="card p-3 ">
    <div class='card-header'><h5>Identidad</h5></div>
    <div class="card-body">
      <fieldset class='form-group no-form-group'>
        <legend>Nombre</legend>
        <div class="iconinputcontainer">
          <span class="input-group-text"><i class="fa fa-user"></i></span>
          <input class='form-control' type='text' maxlength="30"
            placeholder='Nombre' [(ngModel)]='liceo.nombre' formControlName='nombre'>
        </div>
        <div class='alert alert-danger'
          *ngIf='liceoForm.controls.nombre.errors'>
          <p *ngIf='liceoForm.controls.nombre.errors.required'>Se requiere un nombre</p>
        </div>
      </fieldset>

      <fieldset class='form-group no-form-group'>
        <legend>Dirección</legend>
        <div class="iconinputcontainer">
          <span class="input-group-text"><i class="fa fa-home"></i></span>
          <input class='form-control' type='text' maxlength="30"
            placeholder='Dirección' [(ngModel)]='liceo.direccion' formControlName='direccion'>
        </div>
        <div class='alert alert-danger'
          *ngIf='liceoForm.controls.direccion.errors'>
          <p *ngIf='liceoForm.controls.direccion.errors.required'>Se requiere la dirección</p>
        </div>
      </fieldset>

      <fieldset class='form-group no-form-group'>
        <legend>Departamento</legend>
        <div class="iconinputcontainer">
          <span class="input-group-text"><i class="fa fa-home"></i></span>
          <select class="custom-select" [(ngModel)]='liceo.departamento' formControlName='departamento'>
            <option *ngFor='let dep of departamentos; index as id;' value={{dep}}>{{dep}}</option>
          </select>
        </div>
        <div class='alert alert-danger'
          *ngIf='liceoForm.controls.departamento.errors'>
          <p *ngIf='liceoForm.controls.departamento.errors.required'>Se requiere el departamento</p>
        </div>
      </fieldset>

      <fieldset class='form-group no-form-group'>
        <legend>Localidad</legend>
        <div class="iconinputcontainer">
          <span class="input-group-text"><i class="fa fa-home"></i></span>
          <input class='form-control' type='text' maxlength="30"
            placeholder='Localidad' [(ngModel)]='liceo.localidad' formControlName='localidad'>
        </div>
        <div class='alert alert-danger'
          *ngIf='liceoForm.controls.localidad.errors'>
          <p *ngIf='liceoForm.controls.localidad.errors.required'>Se requiere la localidad</p>
        </div>
      </fieldset>

      <fieldset class='form-group no-form-group'>
        <legend>Telefonos
          <span class="pull-right" (click)="addTelefono()"
            data-toggle="tooltip" title="Agregar">
            <i class="fa fa-plus-square" aria-hidden="true"></i>
          </span>
        </legend>
        <app-telefonos [registros]='liceo.telefonos'></app-telefonos>
        <div class='alert alert-danger' *ngIf='liceo.telefonos.length==0'>
          Se requiere teléfono.
        </div>
      </fieldset>

      <fieldset class='form-group no-form-group'>
        <legend>Emails
          <span class="pull-right" (click)="addEmail()"
            data-toggle="tooltip" title="Agregar">
            <i class="fa fa-plus-square" aria-hidden="true"></i>
          </span>
        </legend>
        <app-emails [registros]='liceo.emails'></app-emails>
        <div class='alert alert-danger' *ngIf='liceo.emails.length==0'>
          Se requiere email.
        </div>
      </fieldset>

      <p class='card-text'>Cuentas redes sociales</p>
      <p class='card-text'>Sitios webs, picasa y youtube</p>
    </div>
  </div>
  </div>

  <!-- HORARIOS -->
  <div class='row'>
  <div class="card p-3 ">
    <div class='card-header'><h5>Horarios</h5></div>
    <div class="card-body">
    <fieldset class='form-group'>
      <legend>Turno 1
        <span class="pull-right" (click)="addHora(1)"
          data-toggle="tooltip" title="Agregar Hora">
          <i class="fa fa-plus-square" aria-hidden="true"></i>
        </span>
      </legend>
      <div class='alert alert-warning' *ngIf='Object.keys(liceo.turno1).length==0'>
        Agrega horas de clase en este turno.
      </div>
      <app-turno [registros]='liceo.turno1'></app-turno>
    </fieldset>

    <fieldset class='form-group'>
      <legend>Turno 2
        <span class="pull-right" (click)="addHora(2)"
          data-toggle="tooltip" title="Agregar Hora">
          <i class="fa fa-plus-square" aria-hidden="true"></i>
        </span>
      </legend>
      <div class='alert alert-warning' *ngIf='Object.keys(liceo.turno2).length==0'>
        Agrega horas de clase en este turno.
      </div>
      <app-turno [registros]='liceo.turno2'></app-turno>
    </fieldset>

    <fieldset class='form-group'>
      <legend>Turno 3
        <span class="pull-right" (click)="addHora(3)"
          data-toggle="tooltip" title="Agregar Hora">
          <i class="fa fa-plus-square" aria-hidden="true"></i>
        </span>
      </legend>
      <div class='alert alert-warning' *ngIf='Object.keys(liceo.turno3).length==0'>
        Agrega horas de clase en este turno.
      </div>
      <app-turno [registros]='liceo.turno3'></app-turno>
    </fieldset>

    </div>
  </div>
  </div>

  <!-- GRUPOS -->
  <div class='row'>
  <div class="card p-3 ">
    <div class='card-header'><h5>Grupos</h5></div>
    <div class="card-body">
    <fieldset class='form-group'>
      <legend>Turno 1
        <span class="pull-right" (click)="deleteGrupo(1)" *ngIf='liceo.grupos1.length>0'
          data-toggle="tooltip" title="Quitar Último Grupo">
          <i class="fa fa-minus-circle" aria-hidden="true"></i>
        </span>
        <span class="pull-right" (click)="addGrupo(1)"
          data-toggle="tooltip" title="Agregar Grupo">
          <i class="fa fa-plus-square" aria-hidden="true"></i>
        </span>
      </legend>
      <div class='alert alert-warning' *ngIf='liceo.grupos1.length==0'>
        Agrega Grupos de alumnos en este turno.
      </div>
      <app-grupos [registros]='liceo.grupos1' *ngIf='liceo.grupos1.length>0'></app-grupos>
    </fieldset>

    <fieldset class='form-group'>
      <legend>Turno 2
        <span class="pull-right" (click)="deleteGrupo(2)" *ngIf='liceo.grupos2.length>0'
          data-toggle="tooltip" title="Quitar Último Grupo">
          <i class="fa fa-minus-circle" aria-hidden="true"></i>
        </span>
        <span class="pull-right" (click)="addGrupo(2)"
          data-toggle="tooltip" title="Agregar Grupo">
          <i class="fa fa-plus-square" aria-hidden="true"></i>
        </span>
      </legend>
      <div class='alert alert-warning' *ngIf='liceo.grupos2.length==0'>
        Agrega Grupos de alumnos en este turno.
      </div>
      <app-grupos [registros]='liceo.grupos2' *ngIf='liceo.grupos2.length>0'></app-grupos>
    </fieldset>

    <fieldset class='form-group'>
      <legend>Turno 3
        <span class="pull-right" (click)="deleteGrupo(3)" *ngIf='liceo.grupos3.length>0'
          data-toggle="tooltip" title="Quitar Último Grupo">
          <i class="fa fa-minus-circle" aria-hidden="true"></i>
        </span>
        <span class="pull-right" (click)="addGrupo(3)"
          data-toggle="tooltip" title="Agregar Grupo">
          <i class="fa fa-plus-square" aria-hidden="true"></i>
        </span>
      </legend>
      <div class='alert alert-warning' *ngIf='liceo.grupos3.length==0'>
        Agrega Grupos de alumnos en este turno.
      </div>
      <app-grupos [registros]='liceo.grupos3' *ngIf='liceo.grupos3.length>0'></app-grupos>
    </fieldset>
    </div>
  </div>
</div>

<div class='col-md-12 botonera'>
  <button type='submit'
    class='btn btn-success'>Guardar</button> <!-- [disabled]='liceoForm.pristine || !liceoForm.valid' -->
  <!--<button type='reset' class='btn btn-warning' (click)='liceoForm.reset()'
    [disabled]='liceoForm.pristine'>Limpiar Formulario</button>-->
  <button type='button' class='btn btn-danger'
    (click)='delete()'>Eliminar</button>
</div>

</form>

<div class='row'>
  <div class="card p-3">
    <div class='card-header'>
      <h5>Liceo:</h5>
    </div>
    <div class="card-body">
      <pre>{{ liceo | json }}</pre>
    </div>
  </div>

  <div class="card p-3">
    <div class='card-header'>
      <h5>Formulario:</h5>
    </div>
    <div class="card-body">
      <pre>{{ liceoForm.value | json }}</pre>
    </div>
  </div>

  <div class="card p-3">
    <div class='card-header'>
      <h5>Usuario:</h5>
    </div>
    <div class="card-body">
      <pre>{{ user | json }}</pre>
    </div>
  </div>

</div>
</div>
